html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body{
  font-family: 'karla', sans-serif;
  font-size: 18px;
}

header ul li a{
  font-size: 105%;
}
.navbar{
  margin-bottom:0px;
  padding: 5px 15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
@media (max-width: 400px){
  .navbar-header{
   position:relative;
  }
  .navbar img {
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
  }
}

.navbar-inverse .navbar-nav>li>a{
  color: #bbb;
}

.logo{
  height: 70px;
  width: auto;
}

.pagelogo{
  height: 200px;
  width: auto;
}

.cbp-af-header-shrink{
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.90;
}

.fill-screen{
  background-size: cover;
  background-position: center;
}

.fixed-attachment{
  background-attachment: fixed;
}
@media (max-width:1024px){
  .fixed-attachment{
    background-attachment:scroll;
  }
}


.main-row{
  position: relative;
  min-height: 300px;
}
.main-section-img{
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer{
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
}

.shade{
   background-color: #ddd;
}

.text-banner{
  text-align: center;
  margin: 20px 20px; 
}

.text-banner h2{
  font-size: 220%;
}

.project-section{
  margin: 50px;
}

.project-sub{
  text-align: center;
}

.project-sub img{
  width: 150px;
  height: 150px;
}

.contact-me{
  margin: 25px;
  text-align: center;
}

.project-box {
  border: 1px solid black;
  text-decoration: none;
}